<div>
  <h1>Your Pup Homepage</h1>

  <form action="/dogs/new_dog" method="get">
    <button>Add New Dog</button>
  </form>
</div>

<hr>

<div>
  <div class="container">
    <% @list_of_dogs.each do |a_dog| %>
      <div class="row dog_index_row">
        <div class="col-2 dog_index_dog_container">
          <div>
            <a href="/dogs/<%= a_dog.id%>"><img src="<%= a_dog.profile_picture %>" class="dog_index_profile_pic"></a>
            <%= a_dog.first_name %> <%= a_dog.last_name %>
          </div>
        </div>
      </div> 
    <% end %>
  </div>
</div>
