<div>
  <h1>Your Pup Homepage</h1>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>Profile picture</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>

      <% @list_of_dogs.each do |a_dog| %>
      <tr>
        <td><%= a_dog.profile_picture %></td>
        <td><%= a_dog.first_name %></td>
        <td><%= a_dog.last_name %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div>
  <form action="/dogs/new_dog" method="get">
    <button>Add New Dog</button>
  </form>
</div>
