.container{
  margin-top: 20px;
}

.dog_edit_nav_buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dog_edit_line_item{
  padding-top: 10px;
  padding-bottom: 10px;
}

.dog_edit_field{
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.dog_edit_field input{
  margin-left: 10px;
}

.dog_edit_field textarea{
  margin-left: 10px;
}

#dog_edit_name_header{
  justify-content: left;
}

#dog_edit_image{
  overflow: hidden;
  max-width: 100%;
  max-height: 200px;
}
