
.dog_index_row{
  margin-top: 10px;
  margin-bottom: 10px;
}

.dog_index_dog_container{
  border: 1px solid darkgrey;
  background-color: lightgrey;
}

.dog_index_profile_pic{
  width:100px;
  height:100px;
  overflow: hidden;
  border-radius: 50%;
}
