.container{
  margin-top: 20px;
}

.dog_show_nav_buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.vaccination_show_line_item{
  padding-top: 10px;
  padding-bottom: 10px;
}

#dog_show_name_header{
  justify-content: left;
}

#dog_show_image{
  overflow: hidden;
  max-width: 100%;
  max-height: 200px;
}
